<div id="divisor"></div>
<div class="row">
    <h1>Estudios</h1>
    <div id="divisor" class=""></div>
    <div class="col-lg-5">
        <ul>
            <img src="" class="col-lg-4 col-sm-4 col-xs-12">
                <h1>Agente de propaganda medica</h1> - <h3>1 año</h3>
                <p>tenia plata para no compartir con mi novia</p>
                <div id="divisor"></div>
        </ul>    
        <ul>
            <img src="" class="col-lg-1 col sm-1 " alt="">
            <h1>Marketing</h1> - <h3>years</h3>
                <p>Descripicion</p>
        </ul>    
        <ul>
            <img src="" class="col-lg-1 col sm-1 " alt="">
            <h1>Ingenieria Informatica</h1> - <h3>years</h3>
                <p>Descripicion</p>
        </ul>    
    </div>    
</div>
