<div id="divisor"></div>
<div class=container>
    <div class="row">
        <div class="col xs-12 col-sm-12 col-md-12 col-lg-2">  
            <img src="assets/perfil.jpg" class="img-fluid" id="miPerfil">
        </div>
        <div class="col xs-12 col-sm-12 col-md-12 col-lg-2" id="infoPers">
                <p id="nombre">{{persona.nombre}}  {{persona.apellidos}}</p>
                <p>Estudiante de Ingenieria Informatica</p>
                <P>Full Stack Developer JR</P>
        </div>
        <div class="col xs-12 col-sm-12 col-md-12 col-lg-8">
            <span>
                <h1> Acerca de mi</h1>
                    <p>Argentino, apasionado por crear todo tipo de cosas, estudiando ingenieria me cruce con la materia de elementos de programacion
                       con la guia de un gran profesor, que me mostro la posibilidad infinita de crear lo que imaginemos en forma de codigo, lo cual me fascino y desde ese momento
                       empezo mi busqueda para ir aprendiendo nuevas habilidades sobre este maravilloso mundo que es la programacion.
                    </p>
            </span>
        </div>
    </div>
</div>