
#divisor{
    background-color: grey;
    width: 100%;
    height: 5px;
}

.row{
    padding: 20px;
}
@media (min-width: 581px){
#miPerfil{
    border-radius: 50%;
    margin: 10px 10px 10px;
    min-width:5%;
    box-shadow: 3px 3px 3px black;
}
}
@media (max-width: 580px){
    #miPerfil{
        border-radius: 100%;
        box-shadow: 3px 3px 3px black;
        align-self: center;
    }
}
#infoPers{
    margin-top: 3%;
    font-weight: bold;
    font-size: 100%;
    color: white;
    flex-direction: column;
}
h1{
    color: white;
}
p,label{
    color: white;
}
.contenedor{
    background:
    linear-gradient(-45deg, #674be7, #6e41e7b0, #9925ea);
    background-size: 150%;
    margin: 20px;
    padding-left: 100px;
    border: 3px solid #365572be;
    padding: 30px;
    border-radius: 1%;
    box-shadow:  6px 6px #797878;
}
h3 { 
    color: #ffffff;
}

.fotoperfil{
    width: 130px;
    border-radius: 80%;
}

img{
    width: 100%;
    align-items: center;
    justify-content: center;
    
}
