<div id="divisor"></div>
<div class="row">
    <h1 >Experiencia Laboral</h1>
    <div id="divisor"></div>
    <div class="col-lg-10">
        <ul>
            <img src="/assets/Abbot.png" class="col-lg-1 col-sm-1">
                <h1>Laboratorios Abbot</h1> - <h3>1 año</h3>
                <p>tenia plata para no compartir con mi novia</p>
                <div id="divisor"></div>
        </ul>    
        <ul>
            <img src="assets/Casasco.png" class="col-lg-1 col sm-1 " alt="">
            <h1>Laboratorios Casasco SAIC</h1> - <h3>years</h3>
                <p>Descripicion</p>
        </ul>    
        <ul>
            <img src="assets/evertec-srl-nacimiento.png" class="col-lg-1 col sm-1 " alt="">
            <h1>Evertec S.A</h1> - <h3>years</h3>
                <p>Descripicion</p>
        </ul>    
    </div>    
</div>
