<div class="raw">
    <div class="container">
            
            <a href="https://www.facebook.com/esteban011"><img src="assets/facebook.png" alt=""></a>
            <a href="https://www.linkedin.com/in/esteban-andres-avella-442623150/"> <img src="assets/Linkedin.png" alt=""></a>
            <a href="https://github.com/EsteAVella"><img src="assets/git.png" alt=""></a>
            <a href="https://www.instagram.com/esteban.avel/"><img src="assets/Instagram.png" alt=""></a> 
            <button type="button" class="btn btn-outline-light" (click)="login()">Log In </button>
    </div>
</div>