.container {
    align-items: center;
}
img{
  
    row-gap: auto;
    max-width: 100px;
    max-height: 50px;
    min-width: 10px;
    align-items: center;
}
div{
    inline-size: auto;
}
button{
    float: left;
    margin: 0,4em;
}
#a{
    width: 50px;
    
}
label{
    color: #ffffff;
}