<div id="divisor"></div>
<div class="containter">
   <div class="row">
        <h1>Skills</h1>
        <div id="divisor"></div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [showImage]=true
                [imageSrc]="'/assets/html.png'"
                [imageHeight]="70"
                [imageWidth]="70"                
                [percent]="65"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#00358e'"
                [innerStrokeColor]="'rgba(200,220,230,100)'"
                [animation]="true"
                [animationDuration]="600"
          ></circle-progress> 
        </div>
        <div class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [showImage]=true
                [imageSrc]="'/assets/CSS.png'"
                [imageHeight]="70"
                [imageWidth]="70"                
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#00358e'"
                [innerStrokeColor]="'rgba(200,220,230,100)'"
                [animation]="true"
                [animationDuration]="600"
          ></circle-progress> 
        </div>
        <div  class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [showImage]=true
                [imageSrc]="'/assets/js.png'"
                [imageHeight]="70"
                [imageWidth]="70"                
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#00358e'"
                [innerStrokeColor]="'rgba(200,220,230,100)'"
                [animation]="true"
                [animationDuration]="600"
          ></circle-progress> 
        </div>
        <div  class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [showImage]=true
                [imageSrc]="'/assets/eng.png'"
                [imageHeight]="70"
                [imageWidth]="70"                
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#00358e'"
                [innerStrokeColor]="'rgba(200,220,230,100)'"
                [animation]="true"
                [animationDuration]="600"
          ></circle-progress> 
        </div>
        <div  class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [showImage]=true
                [imageSrc]="'/assets/git.png/'"
                [imageHeight]="70"
                [imageWidth]="70"                
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#00358e'"
                [innerStrokeColor]="'rgba(200,220,230,100)'"
                [animation]="true"
                [animationDuration]="600"
          ></circle-progress> 
        </div>
        <div  class="text-center col-sm-4 col-md-4 col-lg-4">
            <circle-progress
                [showImage]=true
                [imageSrc]="'/assets/grupal.png'"
                [imageHeight]="70"
                [imageWidth]="70"                
                [percent]="85"
                [radius]="100"
                [outerStrokeWidth]="16"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#00358e'"
                [innerStrokeColor]="'rgba(200,220,230,100)'"
                [animation]="true"
                [animationDuration]="600"
          ></circle-progress> 
        </div>
        
    </div> 
</div>
